<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass"
                (click)="cambiarValor(-5)" 
                type="button">
            <i class="fa fa-minus"></i>
        </button>
    </span>

    <input  type="text" 
            class="form-control" 
            placeholder="Progress" 
            disabled="true" 
            style="text-align: center;"
            [(ngModel)]="progress">
            <!-- (ngModelChange)="onChange($event)" -->

    <span class="input-group-btn">
        <button [ngClass]="btnClass"
                (click)="cambiarValor(5)" 
                type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>