<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Striped Progress Bar</h4>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active"
                        role="progressbar"
                        [style.width]="getProgress1"
                        style="height:8px;">
                    </div>
                </div>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-warning progress-bar-striped active"
                        role="progressbar"
                        [style.width]="getProgress2"
                        style="height:8px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-increment (valueOutput)="progress1 = $event" [progressValue]="progress1"></app-increment>
                
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-increment (valueOutput)="progress2 = $event" [progressValue]="progress2" [btnClass]="'warning'"></app-increment>
            
            </div>
        </div>
    </div>
</div>